<div class="parent">
  <div class="div1">
    <app-robot
      [robotCoords]="coords"
      *ngIf="coords.x == '0' && coords.y == '4'"
    ></app-robot>
  </div>
  <div class="div2">
    <app-robot
      [robotCoords]="coords"
      *ngIf="coords.x == '1' && coords.y == '4'"
    >
    </app-robot>
  </div>
  <div class="div3">
    <app-robot
      [robotCoords]="coords"
      *ngIf="coords.x == '2' && coords.y == '4'"
    ></app-robot>
  </div>
  <div class="div4">
    <app-robot
      [robotCoords]="coords"
      *ngIf="coords.x == '3' && coords.y == '4'"
    ></app-robot>
  </div>
  <div class="div5">
    <app-robot
      [robotCoords]="coords"
      *ngIf="coords.x == '4' && coords.y == '4'"
    >
    </app-robot>
  </div>
  <div class="div6">
    <app-robot
      [robotCoords]="coords"
      *ngIf="coords.x == '0' && coords.y == '3'"
    >
    </app-robot>
  </div>
  <div class="div7">
    <app-robot
      [robotCoords]="coords"
      *ngIf="coords.x == '1' && coords.y == '3'"
    >
    </app-robot>
  </div>
  <div class="div8">
    <app-robot
      [robotCoords]="coords"
      *ngIf="coords.x == '2' && coords.y == '3'"
    >
    </app-robot>
  </div>
  <div class="div9">
    <app-robot
      [robotCoords]="coords"
      *ngIf="coords.x == '3' && coords.y == '3'"
    ></app-robot>
  </div>
  <div class="div10">
    <app-robot
      [robotCoords]="coords"
      *ngIf="coords.x == '4' && coords.y == '3'"
    >
    </app-robot>
  </div>
  <div class="div11">
    <app-robot
      [robotCoords]="coords"
      *ngIf="coords.x == '0' && coords.y == '2'"
    ></app-robot>
  </div>
  <div class="div12">
    <app-robot
      [robotCoords]="coords"
      *ngIf="coords.x == '1' && coords.y == '2'"
    ></app-robot>
  </div>
  <div class="div13">
    <app-robot
      [robotCoords]="coords"
      *ngIf="coords.x == '2' && coords.y == '2'"
    ></app-robot>
  </div>
  <div class="div14">
    <app-robot
      [robotCoords]="coords"
      *ngIf="coords.x == '3' && coords.y == '2'"
    ></app-robot>
  </div>
  <div class="div15">
    <app-robot
      [robotCoords]="coords"
      *ngIf="coords.x == '4' && coords.y == '2'"
    ></app-robot>
  </div>
  <div class="div16">
    <app-robot
      [robotCoords]="coords"
      *ngIf="coords.x == '0' && coords.y == '1'"
    ></app-robot>
  </div>
  <div class="div17">
    <app-robot
      [robotCoords]="coords"
      *ngIf="coords.x == '1' && coords.y == '1'"
    ></app-robot>
  </div>
  <div class="div18">
    <app-robot
      [robotCoords]="coords"
      *ngIf="coords.x == '2' && coords.y == '1'"
    ></app-robot>
  </div>
  <div class="div19">
    <app-robot
      [robotCoords]="coords"
      *ngIf="coords.x == '3' && coords.y == '1'"
    ></app-robot>
  </div>
  <div class="div20">
    <app-robot
      [robotCoords]="coords"
      *ngIf="coords.x == '4' && coords.y == '1'"
    ></app-robot>
  </div>
  <div class="div21">
    <app-robot
      [robotCoords]="coords"
      *ngIf="coords.x == '0' && coords.y == '0'"
    ></app-robot>
  </div>
  <div class="div22">
    <app-robot
      [robotCoords]="coords"
      *ngIf="coords.x == '1' && coords.y == '0'"
    ></app-robot>
  </div>
  <div class="div23">
    <app-robot
      [robotCoords]="coords"
      *ngIf="coords.x == '2' && coords.y == '0'"
    ></app-robot>
  </div>
  <div class="div24">
    <app-robot
      [robotCoords]="coords"
      *ngIf="coords.x == '3' && coords.y == '0'"
    ></app-robot>
  </div>
  <div class="div25">
    <app-robot
      [robotCoords]="coords"
      *ngIf="coords.x == '4' && coords.y == '0'"
    >
    </app-robot>
  </div>
</div>
