<form>
  <div *ngIf="error !== ''" class="error">
    <h2 class="errorText">Error: {{ error }}</h2>
  </div>

  <div *ngIf="coordinates == ''">
    <h2 class="coordinates">Posição inicial: (0,0,N)</h2>
  </div>
  <h2 class="coordinates">{{ coordinates }}</h2>
  <input
    class="movementInput"
    type="text"
    [(ngModel)]="input"
    name="input"
    placeholder="Digite um comando de movimentação para o robô"
  />
  <input
    class="submitButton"
    type="submit"
    value="Enviar"
    (click)="getCoordinates()"
    [disabled]="input === ''"
  />
</form>
