.movementInput {
  padding: 0 10px;
  width: 40em;
  height: 4em;
  border: 0.5px solid black;
  border-radius: 10px;
}

.movementInput:focus {
  border: 0.6px solid black;
}

.movementInput::placeholder {
  font-size: 16px;
}

.submitButton {
  margin: 10px;
  height: 4em;
  width: 8em;
  border-radius: 10px;
  border: 0.5px solid black;
}

.submitButton:active {
  transform: scale(0.98);
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.25);
}

.coordinates {
  font-size: 22px;
  text-align: center;
}

.error {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  background-color: red;
  border-radius: 30px;
}

.errorText {
  padding: 10px;
  text-align: center;
  color: white;
}
